input {
  height: 40px;
  width: 586px;
}

.adressBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.postcode {
  width: 280px;
}
.searchBtn {
  width: 120px;
  padding: 0;
  margin-left: 20px;
}
