.container {
  width: 100%;
  /* max-width: 1920px; */
  margin-bottom: 50px;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  gap: 24px;
}

.new {
  border: 1px solid #666666;
  border-radius: 9999px;
  width: 98px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e326d;
  color: white;
}

.searchCount {
  border: 1px solid #666666;
  border-radius: 9999px;
  width: 98px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.search {
  display: flex;
  gap: 24px;
  align-items: center;
}

.input {
  width: 342px;
  height: 36px;
  border-radius: 9999px;
  padding: 8px 24px;
  /* outline: none; */
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 9999px;
  width: 98px;
  height: 36px;
  background-color: #1e326d;
  color: white;
}
