/* Pagination.module.css */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pageItem {
  margin-right: 5px;
}

.pageLink {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pageLink:hover {
  background-color: #0056b3;
}
