.headerContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    /* gap : 24px; */
    margin-top: 100px;
}

.headerContainer li {
    border: 1px solid #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 287px;
    height: 60px;
}

.select {
    font-weight: 700;
    background-color: #1e326d;
    color: #fff;
}

.filter {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btnContainer button {
    width: 98px;
    height: 36px;
    font-size: 16px;
    border-radius: 99999px;
    background-color: #fff;
}

button.select {
    width: 98px;
    height: 36px;
    font-weight: 700;
    color: #fff;
    background-color: #1e326d;
    border-radius: 99999px;
}

.input{
    width: 342px;
    height: 36px;
    border-radius: 9999px;
    padding-left: 50px;
}
.search{
    display: flex;
    gap: 24px;
}
.write{
    display: flex;
    justify-content: end;
}